@charset "UTF-8";

/*fix avatar*/
body {
	font-family: Futura Family, serif;
	background-size: cover;
	background-image: url("../../css/multimedia/riverwood-background.webp");
}

fieldset {
	border: 0;
}

.avatar {
	width: 100px;
	height: 100px;

	display: inline;

	border-radius: 15px;
}

.header-block {
	display: block;

	font-size: 20px;

	position: relative;

	border-radius: 15px;
    background: rgba(255, 255, 255, .6);
}

.header-info {
	position: absolute;

	left: 110px;
	top: 20px;
}

.container {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;

	border-radius: 15px;
	background: rgba(255, 255, 255, 0.6);

	position: relative;

	width: 1000px;
	height: 500px;
}

.container-header {
	font-size: xxx-large;
	text-align: center;

	position: relative;
}

.coordinate-plane {
	position: relative;

	width: 400px;
	height: 290px;

	left: 500px;
	bottom: 390px;

	display: inline;
}

.container-input {
	font-size: large;

	margin: 20px;
}

#error-message {
	width: 300px;
	height: 100px;
}

@font-face {
	font-family: "Futura Family";
	src: url("../../css/fonts/futurabookc.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}