@charset "UTF-8";

/*fix avatar*/
body {
	font-family: Futura Family, serif;
	background-size: cover;
	background-image: url("../../css/multimedia/riverwood-background.webp");
}

fieldset {
	border: 0;
}

.avatar {
	width: 100px;
	height: 100px;

	display: inline;

	border-radius: 15px;
}

.header-block {
	display: block;

	font-size: 20px;

	position: relative;

	border-radius: 15px;
    background: rgba(255, 255, 255, .6);
}

.header-info {
	position: absolute;

	left: 110px;
	top: 20px;
}

.container {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;

	border-radius: 15px;
	background: rgba(255, 255, 255, 0.6);

	position: relative;

	width: 1000px;
	height: 500px;
}

.container-header {
	font-size: xxx-large;
	text-align: center;

	position: relative;
}

.coordinate-plane {
	position: absolute;

	width: 300px;
	height: 360px;

	left: 600px;
	bottom: 70px;

	display: inline;
}

.container-input {
	font-size: large;

	margin: 20px;
}

#skyrim-radius-r1 {
	position: absolute;

	width: 117px;
	height: 135.5px;
	bottom: 198.2px;
	left: 691.5px;

	display: none;
}

#skyrim-radius-r15 {
	position: absolute;

	width: 180px;
	height: 205px;
	bottom: 172px;
	left: 660.1px;

	display: none;
}

#skyrim-radius-r2 {
	position: absolute;

	width: 236px;
	height: 270px;
	bottom: 147px;
	left: 632px;

	display: none;
}

#skyrim-radius-r25 {
	position: absolute;

	width: 300px;
	height: 340px;
	bottom: 120px;
	left: 600px;

	display: none;
}

#skyrim-radius-r3 {
	position: absolute;

	width: 356px;
	height: 408.8px;
	bottom: 94.5px;
	left: 572px;

	display: none;
}

#error-message {
	width: 300px;
	height: 100px;
}

@font-face {
	font-family: "Futura Family";
	src: url("../../css/fonts/futurabookc.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}