@charset "UTF-8";

body {
    background-image: url(/css/images/skyrim-shout-zoomed-out.jpg);
    background-size: cover;

    font-family: Futura Family, serif;
}


.warning-container {
    text-align: center;

    font-size: x-large;
    color: #720702;
}