body {
    background-image: url("../../css/multimedia/winterholdcollege.webp");
    background-size: cover;

    font-family: Futura Family, serif;
}

.result-table-header {
    font-weight: bold;
    font-size: large;
}

.result-table {
    margin-left: auto;
    margin-right: auto;

    margin-top: 75px;

    border-collapse: collapse;

    max-height: 200px;
    overflow-y: scroll;
}

.result-table thead tr {
    background-color: #3D59AB;
    color: antiquewhite;
    text-align: left;
    font-weight: bold;

    border: 0.5px solid black;
}

.result-table th  {
    padding: 2px 15px;
    border: 0.5px solid black;
}

.result-table td {
    border: 0.5px solid black;

    max-height: 350px;
    overflow-y: scroll;
}

.link-to-main-page {
    position: relative;
    top: 20px;

    text-align: center;
    min-width: 400px;

    font-size: 0.9em;

}

@font-face {
    font-family: "Futura Family";
    src: url("../../css/fonts/futurabookc.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
