body {
    background-image: url("../../css/multimedia/winterholdcollege.webp");
    background-size: cover;
}

.result-table {
    border: solid 3px #072756;

    margin-left: auto;
    margin-right: auto;
}

.link-to-main-page {
    margin-left: auto;
    margin-right: auto;
}
